extends ../layout

block content
	.container
		.row
			#hot_carousel.carousel.slide.text-center(data-ride="carousel")
				if hotm
					ol.carousel-indicators
						- for(var i = 0; i< hotm.length; i++)
							- if(i==0)
								li.active(data-target="#hot_carousel" data-slide-to="#{i}")
							- else
								li(data-target="#hot_carousel" data-slide-to="#{i}")

					.carousel-inner(role="listbox")
						- for(var i = 0; i< hotm.length; i++)
							- if(i==0)
								.item.active
									a(href="/movie/#{hotm[i]._id}")
										img(src="/upload/#{hotm[i].photo}" alt="#{ hotm[i].title }")
										.carousel-caption #{ hotm[i].title }
							- else
								.item
									a(href="/movie/#{hotm[i]._id}")
										img(src="/upload/#{hotm[i].photo}" alt="#{ hotm[i].title }")
										.carousel-caption #{ hotm[i].title }
				a.left.carousel-control(href="#hot_carousel" role="button" data-slide="prev")
					span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(href="#hot_carousel" role="button" data-slide="next")
					span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
	hr
	.container
		.row
			.panel.panel-primary
				.panel-heading
					h3 最新推荐
						a.small.pull-right(href="/list") 更多
				.panel-body
					if newm && newm.length > 0
						each movie in newm
							.movie.col-md-2.col-sm-3.col-xs-6
								a(href="/movie/#{movie._id}")
									img(src="#{movie.poster}", alt="#{movie.title}").img-thumbnail
									h4.text-center= movie.title.substr(0,7)
