extends ../../layout

block content
	.container
		.row
			table.table.table-hover
				thead
					tr
						th 电影名字
						th 导演
						th 国家
						th 上映年份
						th 录入时间
						th pv
						th 查看
						th 更新
						th(style="padding-left:1.3%;") 删除
				tbody
					each item in movies
						tr(class="item-id-#{item._id}")
							td= item.title
							td= item.doctor
							td= item.country
							td= item.year
							td= moment(item.meta.updateAt).format('MM/DD/YYYY')
							td #{item.pv}
							td: a(target="_blank", href="../../movie/#{item._id}") 查看
							td: a(target="_blank", href="/admin/movie/update/#{item._id}") 修改
							td
								button.btn.btn-danger.btn-sm.del(type="button", data-id="#{item._id}") 删除
			ul.pagination.pull-right.clearfix

				if currentPage > 1
					li
						a(href="/admin/movie/list?p=0" aria-label="First")
							span(aria-hidden="true") 首页
					li
						a(href="/admin/movie/list?p=#{currentPage-2}" aria-label="Previous")
							span(aria-hidden="true") 上一页
				- var end = totalPage;
				- var start = 0;
				- if(end > 10){
					- end = 10;
					- if(currentPage > 4){
						- if(currentPage <= (totalPage-10)){
								- end = currentPage+5;
								- start = currentPage-5;
						- }else{
								- end = totalPage;
								- start = totalPage-10
						- }
					- }
				- }
				- for(; start < end; start++){
						- if(currentPage == (start+1)){
							li.active
								span #{currentPage}
						- }else{
							li
								a(href="/admin/movie/list?p=#{start}") #{start+1}
						- }
				- }
				if totalPage > currentPage
					li
						a(href="/admin/movie/list?p=#{currentPage}" aria-label="Next")
							span(aria-hidden="true") 下一页
					li
						a(href="/admin/movie/list?p=#{totalPage-1}" aria-label="Last")
							span(aria-hidden="true") 尾页

	script(src="/js/index.js")
